{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}

    <ul>
        {% for newsItem in news %}
            {% if newsItem.content is defined %}
                <li>
                    <p>{{ newsItem.title }}</p>
                    <p>{{ newsItem.content |slice(0, 200) |raw }}... <a href="{{ path('news_get', {news: newsItem.id}) }}">Подробнее</a></li></p>

            {% else %}
                <li>{{ newsItem.title }} <a href="{{ newsItem.link }}">Подробнее</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
