{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>{{ news.title }}</h1>
    {% if news.photo %}
        <img src="{{ asset('uploads/photo/' ~ news.photo) }}"/>
    {% endif %}
    {{ news.content|raw }}
{% endblock %}
